<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.UserPermissionMapper">
	
	<delete id="deletePermissionByUserId">
		delete from sys_user_permission where user_id = #{userId,jdbcType=VARCHAR} 
	</delete>
	
</mapper>